<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/fontsawesome/css/all.css">
    <link rel="stylesheet" href="../static/fontsawesome/css/all.min.css">
    <link rel="stylesheet" href="../static/fontsawesome/css/regular.css">
    <link rel="stylesheet" href="../static/fontsawesome/css/regular.min.css">
    <link rel="stylesheet" href="../static/fontsawesome/css/">
    <script src="../static/fontsawesome/js/all.js"></script>
    <script src="../static/fontsawesome/js/regular.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Baskervville&family=Fira+Code&family=Fira+Mono:wght@400;500;700&family=Fira+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>CodeLatvian</title>
    <link rel="icon"  href="../static/bildes/logo_logo_Tumsh.ico">
  </head>

    <body, onload="flashMessage()">
    
        
        
        <!----Augšējā daļa ----->
       <div class="augsha_teor">

       
            <header>
                <h5 class="stundas_nosaukums">Pamati</h5>
            </header>
            
            <div class="progresa">
                <span class="spani_izp"></span>
                <span class="spani_izp"></span>
                <span class="spani_izp"></span>
                <span class="spani"></span>
                <span class="spani"></span>
                <span class="spani"></span>
                <span class="spani"></span>
                <span class="spani"></span>
                <span class="spani"></span>
                <span class="spani"></span>
            </div>
        
            <hr>
        </div>

        <!----Teorija----->

    <div class="teorija">
      <a href="{{url_for('mainpage')}}" class="atpakal_poga"><img src="../static/bildes/back_button.png"></a>
        <h1>Datu tipu teorija</h1>
        <p>Turpināsim mūsu apguves ceļu ar Python datu struktūrām un to veidiem!</p>
        <p>Pirmajā stundā tika izcelts, ka teksts ir jāievada starp pēdiņām, tādēļ, ka Python tekstu uztver kā "str", jeb "string" datu tipu. Runājot vienkāršā valodā "string" tulkojas uz "teksts". Protams, ir arī vēlviens svarīgs datu tips kā "int" jeb "integer". Runājot vienkārši, tad tas ir "skaitlis".</p>
        <p>Kā piemēram rakstot funkciju: </p>
        <div class="koda_piemers">
            <p><span class="ipash-teksts">print</span>(<span class="str-teksts">9</span>)  <span class="izvade">#Izvade: 9</span></br></p>
        </div>
        <p>Un funkciju:</p>
        <div class="koda_piemers">
            <p><span class="ipash-teksts">print</span>(<span class="str-teksts">"9"</span>)  <span class="izvade">#Izvade: 9</span></br></p>
        </div>
        <p>Tās veidos vizuāli identisku izvadi, taču tie ir <b>pavisam dažādi elementi</b>.</p>
        <p>To dažādība izceļas brīžos, kad, piemēram, ir jāveic matemātiska funkcija, ko datu tips "str" <b>nevar veikt</b>.</p>
        <div class="svarigi">
            <p><i class="fa-duotone fa-triangle-exclamation fa-2xl" style="--fa-primary-color: #f29718; --fa-secondary-color: #f29718;"></i>UZMANĪGI! Veicot matemātiskās funkcijas ir jāievēro, ka VISI elementi ir "int", jeb <b>veseli skaitļi</b>.
            </p>
        </div> 
      
    </div>
        
        
        
    </body>
</html>

